p Здравствуйте!

p Компания Glass Software Solutions ознакомилась с Вашим резюме.
p Мы занимаемся разработкой прикладного программного обеспечения, веб-проектами. Являемся веткой американской компании, работаем с иностранными клиентами. Территориально мы расположены в г. Полтаве.
br
| Хотим Вам предложить вакансию
= "#{@email_template.data[:vacancy]} разработчика."
br
= @email_template.data[:vacancy_link]

p Работаем в хорошем офисе в центре города, у нас отличная команда, высокий уровень заработных плат (ставка, full time, контракт на год).

p С уважением,
br
| Наталия Игнатьева, Glass Software Solutions
br
| 0661781536