<p>Здравствуйте!</p>

<p>Компания Glass Software Solutions ознакомилась с Вашим резюме.</p>
<p>Мы занимаемся разработкой прикладного программного обеспечения, веб-проектами. Являемся веткой американской компании, работаем с иностранными клиентами. Территориально мы расположены в г. Полтаве.<br />
Хотим Вам предложить вакансию .NET разработчика.<br />
http://rabota.ua/company3040539/vacancy5825339</p>

<p>Работаем в хорошем офисе в центре города, у нас отличная команда, высокий уровень заработных плат (ставка, full time, контракт на год).</p>

<p>С уважением,<br />
Наталия Игнатьева, Glass Software Solutions<br />
0661781536</p>