//= require active_admin/base
//= require select2

$(function(){
  $("select").select2({placeholder: 'Please select'});

  if(<%= !Rails.env.production? %>)
    $("#title_bar").after("<div id='dev_label'>You are on <%= Rails.env %> environment.</div>");
});
