// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
//= require select2

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)
body.active_admin {
  @import 'select2';
}

.inputs .select2-choices {
  width: 100%;
  border: 1px solid #c9d0d6 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  padding: 8px 10px 7px;
}
.inputs .select2-container {
  width: 77%;
}
.panel_contents .select2-container-multi {
  width: 100%;
}

.panel_contents .select2-choices {
  border: 1px solid #c9d0d6 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  padding: 8px 10px 7px;
}

.select2-container {
  width: 47%;
}

.date_picker input {
  border: 1px solid #c9d0d6 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  padding: 8px 10px 7px;
}

.area_of_expertise_widget {
  width: 260px;
  font-size: 1.10em;
  font-family: Helvetica, Arial, sans-serif;
  h3 {
    margin: 0;
  }
  .panel_contents {
    font-size: 1.30em;
    padding: 0;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin: 5px 0 5px 0;
        a {
          padding: 5px;
          display: block;
          text-decoration: none;
          color: #5E6469;
        }
        ul {
          position: absolute;
          margin-left: 260px;
          margin-top: -33px;
          display: none;
          background-color: #F4F4F4;
          padding: 0;
          border-top: solid 1px #E7E8E9;
          border-right: solid 1px #E7E8E9;
          border-bottom: solid 1px #E7E8E9;
        }
      }
      li:hover {
        >a{
          background-color: #5E6469;
          color: #E3E4E5;
        }
        ul {
          display: block;

        }
      }
      a:hover {
        background-color: #5E6469;
        color: #E3E4E5;
        transition: 0.15s ease;
      }
    }
  }
}