<html>
  <head>
    <%= javascript_include_tag "webodf.js" %>
    <script type="text/javascript" charset="utf-8">
      function init() {
        var odfelement = document.getElementById("odf"),
          odfcanvas = new odf.OdfCanvas(odfelement);
        odfcanvas.load("<%= @link %>");
      }
      window.setTimeout(init, 0);
    </script>
  </head>
  <body>
    <div class="to_center">
      <div id="odf"></div>
    </div>
  </body>
</html>