<html>
<head>
</head>
<body>`
<div id="docx">
  <iframe src="<%="http://docs.google.com/gview?url=#{@link}&embedded=true"%>" style="width:1000px; height:1800px;" frameborder="0"></iframe>
</div>
</body>
</html>
